h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-image: url(/assets/images/global/header-line.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
}
