@font-face {
    font-family: 'Barlow';
    src: url(/assets/fonts/BarlowSemiCondensed-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Barlow';
    src: url(/assets/fonts/BarlowSemiCondensed-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Barlow';
    src: url(/assets/fonts/BarlowSemiCondensed-ExtraBold.ttf);
    font-weight: 800;
}
