<section class="container">
  <app-headline title="BEST OFFERS"></app-headline>
  <div class="list">
    <div *ngFor="let item of list" class="item" [ngClass]="item.class">
      <h3>{{ item.title }}</h3>
      <div class="price">
        <span class="discount">{{ item.price.prev }}.<small>00</small></span>
        <span class="current">{{ item.price.curr }}.<small>00</small></span>
      </div>
      <div class="media">
        <img [src]="item.images.main | imageSource: 'home'" alt="" />
        <div class="bg">
          <img [src]="item.images.bg | imageSource: 'home'" alt="" />
          <img [src]="item.images.bgHover | imageSource: 'home'" alt="" />
        </div>
      </div>
      <a href="" class="purchase">PURCHASE NOW</a>
    </div>
  </div>
</section>
